<h1>Perfil</h1>
<h5>[Esta página es privada]</h5>
<br>
<h4>Datos de usuario:</h4>
<br>
<p> <strong>ID de usuario: </strong> {{userData.id}}</p>
<p> <strong>Email: </strong> {{userData.email}}</p>
<p> <strong>Nombre: </strong> {{userData.name}}</p>
<p> <strong>Apellido: </strong> {{userData.lastname}}</p>
<p> <strong>Telefono: </strong> {{userData.phone}}</p>
<br>
<a href="/">Home</a>
<br>
<a href="/private-content-2">Otro contenido privado</a>
<br>